body{
    display: flex;
    justify-content: center;
    background-image: url(images/Space2.jpg);
    background-repeat: no-repeat;
    
}
canvas{
    border: 2px solid white;
  
}
#container{
    background-color: black;
}
header{
    color: white;
    text-align: center;
    font-family: 'Rubik Vinyl', cursive;
}
footer{
    color:white;
    text-align: center;
}